In [38]:
import yaml
import os
import pandas as pd
import numpy as nb

In [39]:
path = "params.yaml"
params=yaml.safe_load(open(path))['preprocess']
params

{'input': 'data/raw/weatherAUS.csv', 'output': 'data/processed/data.csv'}

In [40]:
data = pd.read_csv(params['input'])
data.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [41]:
columns_to_drop = ["Date","Evaporation","Sunshine","Cloud9am","Cloud3pm","Location","WindGustDir","WindDir9am","WindDir9am","WindDir3pm"]
data.drop(columns=columns_to_drop, inplace=True)
na_counts = data.isnull().sum()
na_counts = na_counts[na_counts > 0]  # Filter only columns with NaN values
print(na_counts)

MinTemp           8
MaxTemp           8
Rainfall         14
WindGustSpeed    19
WindSpeed9am      6
WindSpeed3pm      7
Humidity9am       3
Humidity3pm       4
Pressure9am       3
Pressure3pm       4
Temp9am           3
Temp3pm           4
RainToday        14
RainTomorrow     14
dtype: int64

In [42]:
data.head(5)

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [43]:
data = data.dropna(axis=0)

In [45]:
na_counts = data.isnull().sum()
na_counts = na_counts[na_counts > 0]  # Filter only columns with NaN values
print(na_counts)

Series([], dtype: int64)

In [12]:
path = "/Volumes/sunny333/code/MLDL/rain_prediction2/rainfallPrediction/src/rainPredictionProject/components"
os.getcwd()

'/Volumes/sunny333/code/MLDL/rain_prediction2/rainfallPrediction/research'

In [28]:
new_path = "/Volumes/sunny333/code/MLDL/rain_prediction2/rainfallPrediction/"
os.chdir(new_path)

In [29]:
os.getcwd()

'/Volumes/sunny333/code/MLDL/rain_prediction2/rainfallPrediction'